*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 25px;
    gap: 20px;
    font-size: 20px;
    background-color: rgb(60, 84, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.logIn{
    background-color: whitesmoke;
    color: rgb(60, 84, 218);
    border: none;
    height: 35px;
    width: 75px;
    border-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px ;
    padding-right: 15px;
    transform: box-shadow 0.10s;
}
.logIn:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.10);
}
.header-links a{
    text-decoration: none;
    color: whitesmoke;
}
.pjesa-pare{
    position: sticky;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: left;
    justify-content: center;
    color: whitesmoke;
    flex-direction: column;
}
.explore{
    background-color: whitesmoke;
    color: rgb(60, 84, 218);
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px ;
    padding-right: 15px;
    margin-top: 5px;
}
.explore:hover{
    background-color:  rgb(60, 84, 218);
}
.explore:hover a{
    color: whitesmoke;
}
.slider-container {
    position: relative;
    width: 100%;
    height: 80vh; 
}
#slideshow {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.per-ne{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 10;  
    background-color: rgba(0, 0, 0, 0.5); 
    color: whitesmoke;
    padding: 20px;
    max-width: 600px;
    margin-top: 200px;
}
.per-ne p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.slider-button{
    border: none;
    background-color: rgb(60, 84, 218);
    color: white;
}
.container{
    padding: 20px 20px;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container h4{
    margin-bottom: 20px;
    font-size: 20px;
}
.container-offer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 20px;
}
.offer{
    background-color: whitesmoke;
    border: 1 solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.10);
}
.offer h3{
    margin-bottom: 15px;
    font-size: 20px;
}
.offer:hover{
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.3s, ease, box-shadow 0.3s ease;
    box-shadow: rgba(0,0,0,0.2) 0px 10px 15px;
}
.offer img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}
.container-aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 5px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.txt{
    max-width: 50%;
    font-size: 15px;
}
.txt h2,p{
    margin-bottom: 8px;
}
.read {
    background-color: rgb(60, 84, 218);
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 125px;
    cursor: pointer;
    font-size: 14px;
    transform: box-shadow 0.10s;
}
.read:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.10);
}
.read a{
    color: whitesmoke;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    background-color:  rgb(60, 84, 218);
    color: whitesmoke;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}
.fillimi,.links,.number,.email{
    flex: 1;
    margin: 10px;
    min-width: 200px;
}
.emri{
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 10px;
}
.adressa{
    font-size: 15px;
    color: white;
}
.p-nav,.p-number,.p-email{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 10px;
}
.links a{
    display: block;  
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: opacity 0.3s ease;
}
.links a:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.numri{
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
}
.email a{
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: opacity 0.3s ease;
}
.email a:hover{
    text-decoration: underline;
    opacity: 0.7;
}
footer p {
    margin: 5px 0;
}

footer hr {
    border: none;
    border-top: 1px solid #444;
    margin: 20px 0;
}

footer .copyright {
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
    margin-top: 10px;
}